.header {
  width: 100%;
  max-width: 1070px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  .logo {
      display: block;
      max-width: 100px;
  }
  .basket, .admin {
      display: block;
      max-width: 40px;
  }
  .rightBlock {
    display: flex;
    width: 110px;
    justify-content: space-between;
  }
}